<html>
    <head>

    </head>
    <body>
        <div>
            <ul>
                <% for (let i = 1; i <= 10; i++) { %>
                  <li><%= i %></li>
                <% } %>
              </ul>
              <ul>
                <%for(let j=0;j<=10;j++){%>
                    <li>
                        <%= j %>
                    </li>        
                <%}%>
                </ul>
        </div>
        <p>Hi you are in practice.ejs</p>
    </body>
</html>